<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <title>Sider Menu Bar CSS</title> -->
    <link rel="stylesheet" href="../static/pls.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <div class="hrow">
      <div class="img1">
        <img src="../static/images/kj1.png" alt="King Julien" width="49px" height="70 px">
      </div>
      <div class="img2">
        <img src="../static/images/kj3.png" alt="also King Julien" width="48px" height="72 px">
      </div>
      <h4>King Julien's</h4><h1>Python of Madagascar</h1>
    </div>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
    <header>Your Pages</header>
    <ul>
      <li><a href="/home"><i class="fas fa-home"></i> Home </a></li>
      <li><a href="/pylessons"><i class="fas fa-book-open"></i>Python Lessons</a></li>
      <li><a href="/quiz"><i class="fas fa-calendar-week"></i>Quiz</a></li>
      <li><a href="/about"><i class="far fa-question-circle"></i>About Us</a></li>
      <li><a href="/contact"><i class="far fa-envelope"></i>Contact</a></li>
    </ul>
    <img src="../static/images/kolwos.png" alt="Kowoski" width="59px" height="130 px" style="transform: translateX(80px);">
    </div>
    <div>
        <div class="Begin">
            <br><br><br>
            <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Are you<br> &nbsp &nbsp &nbsp &nbsp as kid as Mort <br>&nbsp &nbsp &nbsp &nbsp &nbsp in python ?</p>
            <img src="../static/images/mort.png" alt="maurice" width="125px" height="92px">
            <div class="BP">
              <p><a href="/varandtc">Variables & Type Casting</a> &nbsp &nbsp <a href="/datatype">Data types</a>&nbsp &nbsp &nbsp <a href="/operation">Operators</a> &nbsp &nbsp<br><br><a href="/strings">String</a> &nbsp &nbsp &nbsp <a href="/lists">List</a> &nbsp &nbsp &nbsp <a href="/tuples">Tuple</a> &nbsp &nbsp &nbsp <a href="/diction">Dictionary</a> &nbsp &nbsp &nbsp <a href="/sets">Set</a>&nbsp &nbsp &nbsp <a href="/loops">Loops</a></p>
              <button><a href="/varandtc">Beginner</a></button>
            </div>
        </div>
        <div class="Intermediate">
            <br><br><br>
            <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Are you<br> &nbsp &nbsp &nbsp &nbsp Mau Riiiccee <br>&nbsp &nbsp &nbsp &nbsp &nbsp in python ?</p>
            <img src="../static/images/maurice.png" alt="mort" width="100px" height="80px">
            <div class="IP">
              <p><a href="/clasobj">Classes & Objects</a>&nbsp &nbsp &nbsp <a href="/modules">Modules</a> &nbsp &nbsp &nbsp <a href="/inherit">Inheritance</a> &nbsp &nbsp<br><br><a href="/polymor">Polymorphism</a> &nbsp &nbsp &nbsp <a href="/filehand">File Handling</a> &nbsp &nbsp &nbsp <a href="/gui">GUI(Tkinter)</a></p>
              <button><a href="/clasobj">Intermediate</a></button>
            </div>
        </div>
        <div class="Advance">
            <br><br><br>
            <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Are you<br> &nbsp &nbsp &nbsp As Smart As Me<br> &nbsp &nbsp &nbsp &nbsp &nbsp , King Julien <br>&nbsp &nbsp &nbsp &nbsp &nbsp in python ?</p>
            <img src="../static/images/kj4.png" alt="again king julien" width="112px" height="150px">
            <div class="AP">
              <p>Give a Test to prove it &nbsp&nbsp&nbsp&nbsp&nbsp<br> because I want you to prove it</p>
              <button><a href="quiz">Test</a></button>
            </div>
        </div>
    </div>
  </body>
</html>