<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <title>Sider Menu Bar CSS</title> -->
    <link rel="stylesheet" href="../static/pls.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <div class="hrow">
      <div class="img1">
        <img src="../static/images/kj1.png" alt="King Julien" width="49px" height="70 px">
      </div>
      <div class="img2">
        <img src="../static/images/kj3.png" alt="also King Julien" width="48px" height="72 px">
      </div>
      <h4>King Julien's</h4><h1>Python of Madagascar</h1>
    </div>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
    <header>Your Pages</header>
    <ul>
      <li><a href="/home"><i class="fas fa-home"></i></i>Home</a></li>
      <li><a href="/about"><i class="far fa-question-circle"></i>About Us</a></li>
      <li><a href="/contact"><i class="far fa-envelope"></i>Contact</a></li>
    </ul>
    </div>
    <div class="Con">
        <form method="post" novalidate>
        {% csrf_token %}
        <table border="1">
          {{ qform }}
        </table>
        <button type="submit">Submit</button>
      </form>
      <br>
    </div>
    <div><img src="../static/images/kolwos.png" alt="Kowoski" width="59px" height="130 px" style="transform: translate(80px,140px);"></div>
    <div><img src="../static/images/kjm.png" alt="kjm" width="500" height="400" style="transform: translate(1000px,-150px);"></div>
  </body>
</html>